@{
   ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   /* Style the custom select container */
   .custom-select {
      position: relative;
      width: 200px; /* Adjust the width as needed */
   }

      /* Style the select element itself (hidden) */
      /*.custom-select select {
         display: none;
      }*/

      /* Style the dropdown arrow (Unicode for downward-pointing triangle) */
      .custom-select::after {
         content: "\25BC";
         position: absolute;
         top: 50%;
         right: 10px;
         transform: translateY(-50%);
         pointer-events: none; /* Allows clicks to pass through to the select element */
      }

      /* Style the options */
      .custom-select select option {
         padding: 10px;
         background-color: #f9f9f9;
         color: #333;
         border: none;
         border-bottom: 1px solid #ccc;
      }

         /* Change the appearance when an option is selected */
         .custom-select select option:checked {
            background-color: #3498db;
            color: white;
         }

</style>
<script src="~/js/employee.js" asp-append-version="true"></script>

<main id="main" class="main">
   <div class="page-header d-print-none headerPaddingRemove">
      <div class="container-xl">
         <div class="row g-2 align-items-center">
            <div class="col">
               <h2 class="page-title">
                  Employee Information
               </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
               <div class="btn-list">
                  <a href="#" data-toggle="modal" onclick="AddNew()" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                     <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                     Create New Employee
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="page-body pageBodyPaddingRemove">
      <div class="container-xl">
         <table class="table table-bordered" id="tble">
            <thead style="font-size:medium">
               <tr>
                  <td>Branch Name</td>
                  <td>Employee Name</td>
                  <td>Contact Number</td>
                  <td>Email</td>
                  <td style="width:0px;">Edit</td>
                  <td style="width:0px;">Delete</td>
               </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
      </div>
   </div>

   <!-- Modal -->
   <div class="modal fade" id="MyModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Enter Employee Information</h5>
            </div>
            <div class="modal-body">
               <div class="row g-3 mt-0" style="justify-content: left;">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">Institute Branch</label>
                        <label class="control-label"></label>
                        <div class="custom-select">
                           <select class="form-control" id="ddlBranch"></select>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label id="txtId" hidden></label>
                        <label class="control-label">Employee Name</label>
                        <input class="form-control" type="text" id="txtName" />
                     </div>
                  </div>
               </div>
               <div class="row g-3 mt-0" style="justify-content: left;">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">Contact Number</label>
                        <input class="form-control" type="text" id="txtContactNumber" />
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="text" id="txtEmail" />
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" onclick="Close()" id="btnClose" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary" onclick="Save()" id="btnSave">Save</button>
               <button type="button" class="btn btn-primary" onclick="Update()" id="btnUpdate">Update</button>
            </div>
         </div>
      </div>
   </div>


</main>

